.toast {
    position: fixed;
    top: 50px;
    right: 0;
    z-index:1;
    transform: translateY(100%);
    opacity: 0;
    transition:
        opacity 500ms,
        transform 500ms;
}
.toast.visible {
    transform: translateY(0);
    opacity: 1;
}

.toast-body {
    margin: 28px;
    padding: 20px 24px;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: lightgreen;
    color: darkblue; */
    border-radius: 4px;
}